@import "tailwindcss";

@theme {
    --color-primary-50: #eaf2ff;
    --color-primary-100: #bdd5ff;
    --color-primary-200: #9dc1ff;
    --color-primary-300: #70a5ff;
    --color-primary-400: #5494ff;
    --color-primary-500: #2979ff;
    --color-primary-600: #256ee8;
    --color-primary-700: #1d56b5;
    --color-primary-800: #17438c;
    --color-primary-900: #11336b;
}



* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body:has(.canvas-page) {
    overflow: hidden;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.animate-scaleIn {
    animation: scaleIn 0.3s ease-out;
}

.animate-slideInRight {
    animation: slideInRight 0.3s ease-out;
}